.navbar {
  align-items: center;
  color: #333;
  display: flex;
  height: 70px;
  justify-content: space-between;
  top: 0;
  width: 100%;
  position: fixed;
  background: #fff;
  z-index: 3434334;
  text-decoration: none;
}

#link-to-cart {
    width: 35px;
    height: 35px;
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZpZXdCb3g9IjAgMCAzMiAzMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgMjlDMTAuMTA0NiAyOSAxMSAyOC4xMDQ2IDExIDI3QzExIDI1Ljg5NTQgMTAuMTA0NiAyNSA5IDI1QzcuODk1NDMgMjUgNyAyNS44OTU0IDcgMjdDNyAyOC4xMDQ2IDcuODk1NDMgMjkgOSAyOVoiIGZpbGw9ImJsYWNrIi8%2BCjxwYXRoIGQ9Ik0yNCAyOUMyNS4xMDQ2IDI5IDI2IDI4LjEwNDYgMjYgMjdDMjYgMjUuODk1NCAyNS4xMDQ2IDI1IDI0IDI1QzIyLjg5NTQgMjUgMjIgMjUuODk1NCAyMiAyN0MyMiAyOC4xMDQ2IDIyLjg5NTQgMjkgMjQgMjlaIiBmaWxsPSJibGFjayIvPgo8cGF0aCBkPSJNNSA4SDI2LjgwMTlDMjYuOTQ4NCA4IDI3LjA5MyA4LjAzMjE3IDI3LjIyNTcgOC4wOTQyNEMyNy4zNTg0IDguMTU2MzIgMjcuNDc1OCA4LjI0Njc3IDI3LjU2OTYgOC4zNTkyMUMyNy42NjM1IDguNDcxNjYgMjcuNzMxNSA4LjYwMzM0IDI3Ljc2ODggOC43NDQ5NkMyNy44MDYyIDguODg2NTkgMjcuODEyIDkuMDM0NjggMjcuNzg1OCA5LjE3ODc5TDI1LjYwNTIgMjEuMTc4OEMyNS41NjM0IDIxLjQwOTIgMjUuNDQxOSAyMS42MTc2IDI1LjI2MjEgMjEuNzY3N0MyNS4wODIzIDIxLjkxNzggMjQuODU1NSAyMiAyNC42MjEzIDIySDguMzg5ODJDOC4xNTU3MiAyMiA3LjkyOTA0IDIxLjkxNzkgNy43NDkyNyAyMS43Njc5QzcuNTY5NSAyMS42MTggNy40NDgwNCAyMS40MDk3IDcuNDA2MDQgMjEuMTc5NEw0LjI0MDU1IDMuODIwNkM0LjE5ODU1IDMuNTkwMyA0LjA3NzA5IDMuMzgyMDMgMy44OTczMiAzLjIzMjA4QzMuNzE3NTUgMy4wODIxMyAzLjQ5MDg3IDMgMy4yNTY3NyAzSDEiIHN0cm9rZT0iYmxhY2siIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8%2BCjwvc3ZnPgo%3D) no-repeat;
    margin-right: 15px;
  }

#link-to-cart>a {
  color: transparent;
}
