<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1602298674761-700e96568f5f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=883&q=80);">
<h1>Chill Plants</h1>
<figure class="bannerlogo" data-hook><%= logo %></figure>
<li id="home-link" class="button button-secondary" data-hook><%= link_to t('spree.home'), spree.root_path %></li>
</div>
